@font-face {
  font-family: norseBold;
  src: url(assets/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  height: 100vh;
  display: flex;
}

aside {
  background-image: url(assets/background-photo.jpg);
  background-size: cover;
  flex: 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: norseBold;
  font-size: 2rem;
  margin-top: 200px;
}

.logo-container img {
  width: 80px;
}

aside p {
  font-weight: lighter;
  margin-bottom: 18px;
}

main {
  flex: 2 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 250, 240);
}

section {
  padding-left: 34px;
}

.introduction-section {
  font-size: 1.4rem;
  font-weight: 600;
  max-width: 75ch;
}

.introduction-section p:last-child {
  margin-top: 24px;
}

.form-section {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: white;
  margin-top: 60px;
  margin-bottom: 30px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

#sign-up-form {
  display: grid;
  grid-template-columns: 300px 300px;
  column-gap: 40px;
  row-gap: 24px;
}

#sign-up-form div {
  display: flex;
  flex-direction: column;
}

#sign-up-form label {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-bottom: 4px;
}

#sign-up-form input {
  height: 34px;
  padding: 6px 10px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
}

#sign-up-form input:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

#sign-up-form input[type='password']:invalid {
  border-color: red;
}

#sign-up-form input[type='password']:valid {
  border-color: green;
}

.sign-section button {
  background-color: #596d48;
  color: white;
  padding: 12px 55px;
  border: none;
  border-radius: 8px;
  margin-bottom: 24px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.sign-section a {
  text-decoration: none;
  color: #596d48;
  font-weight: bold;
}
